# Django Settings
SECRET_KEY=some_secret_key_that_should_be_at_least_50_characters_long_to_be_cryptographically_secure
DEBUG=True
ALLOWED_HOSTS=*
CSRF_TRUSTED_ORIGINS=https://keimy-test-task.duckdns.org,https://*.duckdns.org,http://127.0.0.1:8000,http://localhost:8000

# Posgre Settings
DB_NAME=test_task_db
DB_USER=postgres
DB_PASSWORD=postgres_password
DB_HOST=127.0.0.1
DB_PORT=8195

# Promo Settings (format ISO 8601)
MIN_AMOUNT = 1000.00 # DECIMAL
PROMO_START_DATE = 2026-09-01T00:00:00
PROMO_END_DATE = 2026-12-31T23:59:59
TIME_ZONE = Europe/Moscow